<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">ASP.NET Web API</a></p>
        </div>
    </div>
</header>
<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Welcome to KotAtGent Web API!</h1><br/>
                <h2>You can use the following url to fetch data:</h2>
            </hgroup>
            <p>
                /api/KotAtGent_Kot  <br/>
                /api/KotAtGent_Kot/1 <br/>
                /api/KotAtGent_Kot/?type=kamer <br/>
                /api/KotAtGent_Kot/?type=studio <br/>
                /api/KotAtGent_Kot/?type=appartement <br/>
                /api/KotAtGent_Kot/?type=woning <br/>
            </p>
        </div>
    </section>
</div>
